body {
    margin-right: 200px;
    background-color: #cfaa8c;
    font-family: 'Poor Story', cursive;
    font-size: 30px;
}
.output {
    margin-right: 600px;
    background-color:  #a57a5e;
    border: 15px solid #866855;
    border-radius: 10px;
    width: 500px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
.output-image {
    width: 90%;
}
input { 
    margin-bottom: 10px;
}
#submit {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    
}
.button {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    width: 80px;
    height: 25px;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}

